$primary   : #1420F0;
$primary-2: #406BC9;
$primary-light: rgba(20, 32, 240, .65);
$secondary : #EE01ED;
$accent    : #9C27B0;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

$light: #EAEDF1;
$dark-green: #008466;
